# Dependencias y Compilación
node_modules
dist
tsconfig.build.tsbuildinfo

# Logs y Temporales
logs
*.log
npm-debug.log*
.DS_Store

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
cloudbuild.yaml

# Secretos (IMPORTANTE: Nunca incluirlos en la imagen)
.env
.env.*
cookies.txt
